@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.chat-scrollbar::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.chat-scrollbar::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: rgb(203 213 225 / var(--tw-text-opacity));
  border-radius: 5px;
}

.chat-scrollbar::-webkit-scrollbar-thumb:hover {
  width: 10px;
  background-color: rgb(148 163 184 / var(--tw-text-opacity));
  border-radius: 5px;
}
